body {
  background-color: red;
}

h4 {
  font-size: clamp(1rem, 1rem + 0.25vw, 3rem);
}

.Panel {
  background-color: darkgrey;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  z-index: 1;
}

.Shutter {
  transition: transform 2s ease-out;
  position: fixed;
  top: 0;
  z-index: 10;
  margin: 1rem;
}

.Shutter-Open {
  transform: translateY(-99%);
  pointer-events: none;
}

.PanelPart {
  background-color: silver;
  outline: 2px solid;
}

.noMarginPadding {
  margin: 0px;
  padding: 0px;
}

.collapsible {
  background-color: silver;
  color: #444;
  cursor: pointer;
  padding: 7px;
  margin: 10px;
  width: 100%;
  border: solid;
  /* outline: 1px solid; */
  text-align: left;
  font-size: 15px;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: wheat;
  float: right;
  margin-left: 5px;
}

.about {
  background-color: whitesmoke;
  color: black;
  padding: 5px;
  margin-bottom: 1rem;
  white-space: pre-line;
}

.radioActions {
  border: 1px solid white;
  padding: 3px;
  margin: 2px;
  color: whitesmoke;
}

.radio {
  background-color: silver;
}

.radioNewMsg {
  background-color: gray;
}



.pumpControl {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}

.pumpControlText {
  font-size: clamp(0.75rem, 0.25rem, 2rem);
}