body {
  background-color: red;

}

.Panel {
  background-color: darkgrey;
  text-align: center;
  padding: 1em;
  /* margin: 4em; */
  /* box-shadow: -1em 1em crimson inset; */
}

.FireEngine {
  background-color: red;
}

.FireEngineSides {
  background-color: red;
  width: 1em;
}

.FireEngineSideShadow {
  background: linear-gradient(90deg, red 0%, rgba(171, 47, 47, 1) 100%);
  width: 2em;
}

.FireEngineBottomShadow {
  background: linear-gradient(0deg, red 0%, rgba(171, 47, 47, 1) 100%);

  /* width: 1em; */
}

.PanelPart {
  background-color: silver;
  outline: 2px solid;
}

.noMarginPadding {
  margin: 0px;
  padding: 0px;
}

.collapsible {
  background-color: silver;
  color: #444;
  cursor: pointer;
  padding: 7px;
  margin: 10px;
  width: 100%;
  border: solid;
  /* outline: 1px solid; */
  text-align: left;
  font-size: 15px;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: wheat;
  float: right;
  margin-left: 5px;
}

.about {
  background-color: whitesmoke;
  color: black;
  padding: 5px;
  margin-bottom: 1em;
  white-space: pre-line;
}

.radioActions {
  border: 1px solid white;
  padding: 3px;
  margin: 2px;
  color: whitesmoke;
}

.radio {
  background-color: silver;
}

.radioNewMsg {
  background-color: gray;
}