body {
  background-color: darkgrey;
  text-align: center;
}

.PanelPart {
  background-color: silver;
}

.clockwise {
  transform: rotate(1turn);
}

.counterClockwise {
  transform: rotate(-1turn);
}

.noMarginPadding {
  margin: 0px;
  padding: 0px;
}